<h3>Hyr brenda</h3>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Hyr brenda" %>
  </div>
<% end %>

<p>Anetar i ri? <%= link_to "Regjistrohu!", signup_path %></p>